
@{
    ViewBag.Title = "EvaluateIndex";
}

<h2>EvaluateIndex</h2><br />
@if (ViewBag.isadm == true)
{
    <a href="@Url.Action("Result")">你是管理员，点击进入统计页面</a><br />
}
互评前，请先修改用户密码→<a href="@Url.Action("MdfPsw","Login")">点击修改用户密码</a><br />
查看已评价的学生请点击→<a href="@Url.Action("Evaed")">点击查看已评价学生序号</a><br /><br />
<table border="1">
    <tr>
        <th>学生序号</th>
        <th>进入评价页</th>
    </tr>
    @for (int i = 0; i < 50; i++)
    {
        <tr>
            <td>@(i+1)</td>
            <td><a href="@Url.Action("EvaForm", new { id = i+1 })">评价该学生</a></td>
        </tr>
    }
</table>
